/* untuk tablet */
@media all and (max-width:1000px) {
    .team {
        width: 40%;
        margin-bottom: 50px;
    }

    /* service */
    .service-wrapper {
        align-content: center;
    }

    .services {
        width: 30%;
    }

    .btn-services {
        height: 170px;
    }
}



/* untuk smartphone */
@media all and (max-width: 800px) {

    /* header */
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block !important;
    }

    .header-right.show {
        display: block;
        position: absolute;
        top: 65px;
        background: rgba(210, 105, 30, 0.9);
        width: 100%;
        left: 0;
    }

    .header-right a:hover {
        color: #353535;
        background: #fff;
    }

    .header-right ul li {
        display: block;
        text-align: center;
    }

    /* banner */
    .top-banner h1 {
        font-size: 32px;
    }

    .top-banner p {
        font-size: 14px;
    }

    .input {
        width: 100%;
        font-size: 12px;
    }

    /* Paket */
    .paket {
        width: 100%;
        margin-bottom: 30px;
    }

    /* Service */
    .services {
        width: 100%;
    }

    .btn-services {
        height: 250px;
    }

    /* our team */
    .team {
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid#B4B4B4;
        border-radius: 20px;
    }

    .footer-left {
        width: 50%;
    }

    .footer-left h1 {
        font-size: 14px;
    }

    .footer-left p {
        font-size: 12px;
        font-weight: normal;
    }

    .footer-right {
        width: 40%;
    }

    .footer-right p {
        font-size: 12px;
    }

    .footer-right .menu {
        font-size: 12px;
    }
}