html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    /* text-align: center; */
}

.header-left h2 {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 10px;
    /* margin-left: 30px; */
    color: white;
    padding: 0 5px;
}

.main-logo {
    color: black;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none !important;
}

.header-right a {
    line-height: 65px;
    padding: 0 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.5);
}



.top-banner {
    padding: 300px 0 100px 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/15/58/wedding-1846114_960_720.jpg);
    background-size: cover;
    height: 700px;
    color: azure;
    text-align: center;
    opacity: 0.9;
}

.top-banner h1 {
    /* opacity: 0.7; */
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #000000;
}

.top-banner p {
    /* opacity: 0.7; */
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #000000;
    font-size: 18px;
}

.btn-banner {
    margin: 20px 0;
    text-align: center;
}

.daftar {
    background-color: black;
}

.input {
    padding: 12px 24px;
    color: black;
    font-size: 14px;
    margin: 16px 0 0 0;
    display: inline-block;
    opacity: 0.8;
    text-align: left;
    width: 60%;
}

/*css our team*/
.team-grup {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    /* background-color: #f7f7f7; */
}

.team-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-img {
    position: relative;
}

.team {
    float: left;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 10px;
    text-align: center;
    /* border: 1px solid#B4B4B4; */
    /* border-radius: 20px; */
}

.txt-content {
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #B4B4B4;
    /* color: #b3aeb5; */
}

.txt-content h2 {
    padding-bottom: 5px;
    color: black;
    opacity: 65%;
}

.txt-content p {
    padding-bottom: 15px;
}

.heading {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #E39D75;
}

.medsos-icon {
    color: #B4B4B4;
    font-size: 18px;
    padding-right: 5px;
}

.medsos-icon:hover {
    color: #E39D75;
}

/*akhir our team*/

/* footer css */

footer {
    min-height: 250px;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.9);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

/* .container {
    max-width: 1200px;
    width: 100%;
    color: white;
} */
.footer-grup {
    padding: 40px 0px;
}

.footer-right {
    float: right;
    text-align: right;
    color: white;
}

.footer-left {
    float: left;
    color: white;
}

.footer-left h1 {
    margin-bottom: 15px;
}

.footer-left h4 {
    margin-top: 40px;
}

.dev {
    font-weight: lighter;
    color: #f0b491;
}

.footer-right p {
    margin-top: 28px;
}

.medsos {
    margin-top: 20px;
    letter-spacing: 6px;
}

.medsos .medsos-icon {
    color: azure;
}

.medsos .medsos-icon:hover {
    color: #f0b491;
}

.menu a {
    color: white;
    line-height: 28px;
}