html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
li {
  list-style: none;
}


.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
}

.header-left h2 {
    width: 300px;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-left: 30px;
    color: white;
    padding: 0 5px;
}

.main-logo{
    color:black;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: 25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.top-banner {
    padding: 300px 0 100px 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/15/58/wedding-1846114_960_720.jpg);
    background-size: cover;
    color: azure;
    text-align: center;
    opacity: 0.8;
}

.top-banner h1 {
    /* opacity: 0.7; */
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.top-banner p {
    /* opacity: 0.7; */
    margin-bottom: 10px;
}

.btn-banner {
    margin: 20px 0;
    text-align: center;
}

.daftar {
    background-color: black;
}

.input {
    padding: 12px 24px;
    color: black;
    font-size: 18px;
    margin: 16px 0 0 0;
    display: inline-block;
    opacity: 0.8;
    text-align: left;
    width: 50%;
}

/* footer css */

footer {
  width: 100%;
  height: 200px;
  background-color: rgba(210, 105, 30, 0.9);
  bottom: 0;
  z-index: 10;
  position: fixed;
  font-family: sans-serif;
  color: white;
 }

 .footer-main {
   padding: 35px 20px;
 }

 .container{
   float: left;
 }

.container h1 {
margin-bottom: 20px;
}

.container h4 {
  margin-top: 20px;
}

.footer-right {
  float: right;
  text-align: right;
}
.footer-right li {
  margin-bottom: 5px;
}

.fa {
  margin-right: 10px;
}
